


label {
  display: inline-block;
  min-width: 150px;
	margin: 1em 0;
}
.rfe-form__row span {
  margin-left:5px;
}

code * {
  font-size: 115%;
}
.leader {
  margin-bottom: 15px;
  margin-left: 8px;
}